html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

.container {
  padding: 20px 40px;
}

h1 {
  font-size: 22px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 90%;
  margin: 0 auto;
}

main {
  margin-top: 60px;
  text-align: center;
}

input {
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 15px 20px;
  border: none;
  color: white;
  background-color: #6246ea;
  border-radius: 5px;
}

.para2 {
  width: 70%;
  margin: 20px auto;
}

.para2 span {
  background-color: yellow;
  padding: 2px;
  font-weight: bolder;
}

.para1 {
  width: 50%;
  margin: 20px auto;
}

footer {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
}

.dateContainer {
  width: 300px;
  margin: 0 auto;
}

.react-datepicker__input-container input {
  font-size: 20px;
  text-align: center;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo-box h3 {
  margin-left: 10px;
}

.flag {
  width: 20px;
  height: 20px;
  margin: 5px;
}

/* SURFACE DUO */
@media only screen and (max-width: 540px) {
  .para2 {
    width: 100%;
  }

  .para1 {
    width: 100%;
  }

  .container {
    padding: 10px 20px;
  }

  body {
    font-size: 12px;
  }
}
